INFURAPROJECTID="004346d9bf27bb953d6076bd"
ETHERSCAN_API_KEY="F5SAUSNI3TE1VX3KDQYZDEDDM6"
BSCSCANAPIKEY="WINIRZJ8VERTCXG2M9EDA4MTS"
PRIVATE_KEY="a16f4d3648a264684afd6f5ef5919b463650863a2fb911576"
ALCHEMY_API_KEY="SLI1kxkU-4BNN9-AVKg0Iiyy_"
REPORT_GAS=true
